/* Empty. Add your own CSS if you like */
.item-divider{
	font-size: 15px;
}
.item-divider:hover{
	background: white;
	color: black;
}

.list ul li{
	font-size: 13px;
	transition: all .2s;
}
.list ul li:hover{
	padding-left: 25px;
	color: white;
	background-color: grey;
}
